# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Node
node_modules/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files
*.pt
*.keras
*.h5

# Models -> Backend:
Weapon_best.pt
Violence_Detection_best_model.keras
Weapon_data.yaml
